// ==========================================================================
// Colors
// ==========================================================================

$logo-gradation: linear-gradient(160deg, #1ed2e6 0%, #19b0e9 14%, #1280ee 35%, #0f6ef0 45%, #003296 100%);
$cyan: #1ED2E6;
$s-lapras-blue: #0F6EF0;
$s-lapras-sec: #0032AA;
$lapras-blue: #1E86DE;
$lapras-blue-800: #4B9EE5;
$lapras-blue-600: #78B6EB;
$lapras-blue-400: #BDE0FD;
$lapras-blue-200: #D7E6F5;
$lapras-blue-100: #D7E6F5;
$lapras-sec: #003089;
$lapras-sec-800: #3359A1;
$lapras-sec-600: #6683B8;
$lapras-sec-400: #99ACD0;
$lapras-sec-300: #BFCBE1;
$lapras-sec-100: #DEE4F0;
$blue-gray: #697A9B;
$blue-gray-800: #8795AF;
$blue-gray-600: #9EACC2;
$blue-gray-400: #C3CAD7;
$logo-black: #231815;
$black: #000000;
$black-900: #2C2C2C;
$black-800: #424242;
$black-700: #616161;
$black-600: #7F7F7F;
$black-500: #9E9E9E;
$black-400: #C8C8C8;
$black-300: #E0E0E0;
$black-200: #EAEAEA;
$black-100: #F5F5F5;
$black-000: #FFFFFF;
$blue-green: #18B0A8;
$green: #18BF69;
$red: #FF5A5F;
$yellow: #FFD600;
$gold: #AE9301;
$gold-100: #F7F4E6;
$gold-50: #FBFAF2;
$orange: #FFAB00;

// for IVS 2024
$ivs-logo-black: #231815;
$ivs-black: #00081A;
$ivs-black-030: #F7F8F8;
$ivs-black-800: #333948;
$ivs-black-100: #00081A1A;
$ivs-blue: #2718A5;
$ivs-yellow: #D0AF4C;

$ivs-grad-start: #2D1CCD;
$ivs-grad-end: #D251F3;
$ivs-grad: linear-gradient(to right, $ivs-grad-start, $ivs-grad-end);

// role color
$text-base: $black-900;
$line-color: $black-300;
$line-color-light: $black-200;
$background: $black-100;


// ==========================================================================
// Color Palette (deprecated)
// ==========================================================================

$shining-blue: $logo-gradation;
$lapras-pale-blue: $lapras-sec-100;
$white: $black-000;
$text-base: $black-900;
$middle-gray: $black-500;
$scouty-green: $green;
$lapras-tert: $blue-gray-600;
$sparkling-gold: $gold;
$lapras-gold: $gold;

// ==========================================================================
// Typography
// ==========================================================================

// `$breakpoint-up`に対応するルートフォントサイズを指定します。
// `none`はメディアクエリなしで使用されるので指定必須です。
$font-size: (
  'none': 14,
  'md': 14,
) !default;

// 注釈などに使用するフォントサイズ
$font-size-secondary: 0.85em !default;

// ベースになるline-height
$line-height: 1.6 !default;

$font-family-ja: 'Noto Sans JP', sans-serif;
$font-family-en: 'Roboto', 'Noto Sans JP', sans-serif;

// ==========================================================================
// Media query
// ==========================================================================

// `sm`: iPhone6幅（ポートレート・縦）
// `md`: iPad幅（ポートレート・縦）
// `lg`: iPad幅（ランドスケープ・横）
// `xl`: デスクトップ想定
$breakpoint-up: (
  'sm': 'print, screen and (min-width: 300px)',
  'md': 'print, screen and (min-width: 768px)',
  'lg': 'print, screen and (min-width: 1024px)',
  'xl': 'print, screen and (min-width: 1440px)',
) !default;

@mixin mq-up($breakpoint) {
  @if map-has-key($breakpoint-up, $breakpoint) {
    @media #{inspect(map-get($breakpoint-up, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    + "Please make sure it is defined in `$breakpoint-up` map.";
  }
}


// ==========================================================================
// Layout
// ==========================================================================

// コンテンツの最大幅
$max-width: 1080px !default;

// グリッドシステムのガター幅
$grid-column-gap: 15px !default;
$grid-row-gap: 15px !default;
$grid-column-gap-md: 30px !default;
$grid-row-gap-md: 30px !default;

// セクションのマージン
$margin-section2: 70px !default;
$margin-section3: 40px !default;
$margin-section4: 30px !default;
$margin-section5: 20px !default;

// 見出しのマージン
$margin-heading2: 20px !default;
$margin-heading3: 15px !default;
$margin-heading4: 10px !default;
$margin-heading5: 10px !default;

// ブロックとテキストのマージン
$margin-block: 15px !default;
$margin-lead: 25px !default;
$margin-text: 15px !default;
$margin-small-text: 10px !default;


// ==========================================================================
// Animation
// ==========================================================================

$opacity: 0.7 !default;
$transition-duration: 0.3s !default;
$transition-timing-function: ease !default;

// ==========================================================================
// Form
// ==========================================================================

$form-border: 1px solid #767676 !default;
$form-boder-color: #767676 !default;
$form-border-radius: 3px !default;
$form-transition-duration: 0.3s !default;
$form-transition-property: border-color, box-shadow, background-color !default;
$form-focus-border-color: #1589EE !default;
$form-focus-box-shadow: 0 0 5px #1589ee !default;
$form-placeholder-color: #767676 !default;
$form-disabled-cursor: not-allowed !default;
$form-disabled-opacity: 0.5 !default;
$form-disabled-background-color: #DDD !default;

// @desc - pxをremに変換します。
// @param {Number} $px - 指定したいピクセル値。
// @param {String} $key [sm] - 指定するブレイクポイントを`$font-size`のキーで指定。
// @example - rem(15px) => 1rem
@function rem($px, $key: 'none') {
  $value: map-get($font-size, $key);
  @return ($px / $value) * 1rem;
}

// clearfix
@mixin clearfix{
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// マウスオーバーイベントをまとめて指定

@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

// 角R
$corner-r: 4px;
$corner-r-l: 10px;

// ホバー時の不透明度
$hover-opacity: 0.75;
